
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #F5F7FB;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main-screen{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

h1{
  color: #293264;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 32px;
}

.main-description{
  color: #293264;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 10%;
}


.start-btn, .check-btn{
  background-color: #4D5B9E;
  color: #F5F7FB;
  border: none;
  border-radius: 10px;
  width: 100%;
  max-width: 200px;
  padding: 15px;
  margin-top: 20px;
  

  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 8%;
  cursor: pointer;
  transition: 0.3s;
}

.check-btn{
  margin-top: 10px;
}

.start-btn:hover{
  background-color: #2c3359;
}

.blob {
  position: fixed;
  z-index: 0;
}

.blob-yellow {
  top: 0;
  right: 0;
}

.blob-blue {
  bottom: 0;
  left: 0;
}


/* QUIZ */

.quiz-screen{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  padding: 50px;
  gap: 40px;

  position: relative;
  z-index: 1;
}

.quiz-element{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.quiz-question{
  color: #293264;
  font-family: "Karla", sans-serif;
  font-size: 22px;
  font-weight: bold;
}

.quiz-answers{
  display: flex;
  gap: 15px;
}

.quiz-answers button{
  color: #293264;
  background-color: #fff;
  border: 1px solid #4D5B9E;
  border-radius: 13px;
  padding: 5px 15px;

  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 400;
  cursor: pointer;
  transition: 0.3s;
}

.quiz-answers button.selected{
  background-color: #D6DBF5;
  color: #293264;
}

.quiz-answers button.correct{
  background-color: #94D7A2;
  border: none;
}

.quiz-answers button.wrong{
  background-color: #F8BCBC;
  border: none
}

.bottom-line{
  height: 1px;
  width: 900px;
  background-color: #DBDEF0;
}

.check-btn{
  align-self: center;
}