
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #F5F7FB;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-screen{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

h1{
  color: #293264;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 32px;
}

.main-description{
  color: #293264;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 10%;
}


.start-btn{
  background-color: #4D5B9E;
  color: #F5F7FB;
  border: none;
  border-radius: 10px;
  width: 100%;
  max-width: 200px;
  padding: 15px;
  margin-top: 20px;
  

  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 8%;
  cursor: pointer;
  transition: 0.3s;
}

.start-btn:hover{
  background-color: #2c3359;
}

.blob {
  position: absolute;
  z-index: 0;
}

.blob-yellow {
  top: 0;
  right: 0;
}

.blob-blue {
  bottom: 0;
  left: 0;
}